@import "tailwindcss";

body::-webkit-scrollbar {
  display: none;
}

/* //
//
//
//
//
//
// */

/* company brand name animation */

@keyframes companyNameRightToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.companyNameRightToLeft {
  animation: companyNameRightToLeft 50s infinite linear;
}
@keyframes companyNameLeftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.companyNameLeftToRight {
  animation: companyNameLeftToRight 50s infinite linear;
}

@keyframes logoSapinRigh {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.logoSapinRigh {
  animation: logoSapinRigh 3s infinite linear;
}

@keyframes logoSapinLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.logoSapinLeft {
  animation: logoSapinLeft 3s infinite linear;
}
/* company brand name animation */
/* //
//
//
//
//
//
// */
